
@font-face { font-family: "Roboto";
        src: url("src/assets/fonts/roboto/200/Roboto-Light.ttf")
}

body {
    background-image: linear-gradient(-90deg, #ff6666, #ff3399);
    background-repeat: none;
    font-family: "Roboto";
}